In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns 
import numpy as np

In [2]:
data=pd.read_csv("heart.csv")
data

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [3]:
from sklearn.preprocessing import LabelEncoder
gender_le = LabelEncoder()
data["Sex"] = gender_le.fit_transform(data["Sex"])
ChestPainType_le = LabelEncoder()
data["ChestPainType"] = ChestPainType_le.fit_transform(data["ChestPainType"])
RestingECG_le = LabelEncoder()
data["RestingECG"] = RestingECG_le.fit_transform(data["RestingECG"])
ExerciseAngina_le = LabelEncoder()
data["ExerciseAngina"] = ExerciseAngina_le.fit_transform(data["ExerciseAngina"])
ST_Slope_le = LabelEncoder()
data["ST_Slope"] = ST_Slope_le.fit_transform(data["ST_Slope"])

In [4]:
data

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,1,1,140,289,0,1,172,0,0.0,2,0
1,49,0,2,160,180,0,1,156,0,1.0,1,1
2,37,1,1,130,283,0,2,98,0,0.0,2,0
3,48,0,0,138,214,0,1,108,1,1.5,1,1
4,54,1,2,150,195,0,1,122,0,0.0,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,1,3,110,264,0,1,132,0,1.2,1,1
914,68,1,0,144,193,1,1,141,0,3.4,1,1
915,57,1,0,130,131,0,1,115,1,1.2,1,1
916,57,0,1,130,236,0,0,174,0,0.0,1,1
917,38,1,2,138,175,0,1,173,0,0.0,2,0

In [5]:
X=data.drop("HeartDisease", axis=1)
y=data['HeartDisease']

In [6]:
from sklearn.model_selection import train_test_split
xtrain, xtest, ytrain, ytest = train_test_split(X, y, test_size=0.1)

In [7]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(max_depth=4, random_state=0)
train=clf.fit(xtrain, ytrain)

In [8]:
y_pred_test= clf.predict(xtest)
y_pred_train= clf.predict(xtrain)

In [9]:
from sklearn.metrics import accuracy_score
print("Training accuracy:\n")
print( accuracy_score(ytrain, y_pred_train))

print("\nTesting accuracy:\n")
print( accuracy_score(ytest, y_pred_test))

Training accuracy:

0.8995157384987893

Testing accuracy:

0.8043478260869565

In [11]:
import pickle
pickle.dump(train, open('heart2.pkl', 'wb'))